@import url('https://fonts.googleapis.com/css2? family= Poppins:wght@200;300;400;600;800 & family= Rubik:wght@300;400;500;600; 700 & display=swap');

:root{
   --principal: #0076de;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'rubik', sans-serif;
}


li{
    display: inline;
    margin-inline: 10px;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

h2 a{
    text-decoration: none;
}

ul li a{
    text-decoration: none;
    color: var(--principal);
    font-weight: 600;
}

ul li a:hover{
    color: var(--principal);
    border-bottom: 2px solid var(--principal);
}

.onclick{
    padding: 4px;
    border: 2px solid blue;
    color: blue;
}

.onclick:hover{
    background-color: blue;
    color: #fff;
}


.cont_search{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.search1, input{
    text-decoration: none;
    border: none;
    outline: none;
    margin: 25px;
    margin-bottom: 5px;
}

.search2, input{
    text-decoration: none;
    border: none;
    outline: none;
    margin: 25px;
    margin-bottom: 5px;
}

.search3, input{
    text-decoration: none;
    border: none;
    outline: none;
    margin: 25px;
    margin-bottom: 5px;
}

.controler{
    margin-top: 0;
    display: flex;
    justify-content: center;
    justify-content: center;  
}

.control_menu{
    margin: 20px;
}

.btn_search{
     margin-top: 18px;
     margin-left: 17px;
     padding: 8px;
     border-radius: 5px;
     background-color: blue;
     color: #fff;
     border: none;
}

#categorie{
    text-decoration: none;
    border: none;
}

#categorie:focus{
    outline: none;
}

#type{
    text-decoration: none;
    border: none;
}

#type:focus{
    outline: none;
}

#zone{
    text-decoration: none;
    border: none;
}

#zone:focus{
    outline: none;
}

.big_search{
    background-color: #F5F5F5;
    margin-right: 180px;
    margin-left: 180px;
    margin-top: 35px; 
    padding-bottom: 20px;
    padding: 3px;
    border-radius: 5px;
}

.cont_search{
  background-color: #fff;
  margin-right: 35px;
  margin-left: 35px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px gray;
}

#categorie{
    background-color: #fff;
    font-size: 16px;
    font-weight: 600;
    padding: 5px; 
}



/*section join us*/

.join{
    margin-top: 50px;
    margin-bottom: 50px;
    width: 94%;
    height: 350px;
    background-image: url("joinUs/join1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 3rem;
    align-items: center;
    position: relative;
}

.join::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(180deg, rgba(0, 85, 177, 0.6) 0%, rgba(0, 122, 255, 0.5) 100%),
    linear-gradient(180deg, rgba(0,122,255, 0.65) 0%, transparent 100%);
    z-index: 1;
}

.join_detail{
    min-width: 280px;
    width: 50%;
    z-index: 2;
    margin-bottom: 1rem;
}

.join_detail > h1{
    font-size: 36px;
    letter-spacing: 2;
}

.active_cv{
    width: 200px;
    padding: 1rem; 
    border: none;
    color: black;
    background-color: yellow;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    z-index: 2;
    cursor: pointer;
    font-size: 20px;
}

.active_cv:hover{
    background: transparent;
    border: 2px solid yellow;
    color: yellow;
}


/* start new job section*/

.job-container{
    margin-top: 6rem;
    background-color: #fff;
}

.btn{
  text-decoration: none;
  padding: 0.5rem;
  background-color: var(--principal);
  color: #fff;
  border-radius: 10px;
  transition: 0.2s;
}

.btn:hover{
    background-color: #fff;
    color: var(--principal);
    border: 1px solid var(--principal);
}

.flex-btn{
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 1rem;
    flex-wrap: wrap;
}

.job-container .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, 20rem);
    gap: 1.5rem;
    justify-content: center;
}

.job-container .box-container .box{
    background-color: #F5F5F5;
    padding: 1rem;
    box-shadow: "";
    overflow-x: hidden;
    border: 1px solid var(--principal);
    border-radius: 10px;
}

.job-container .box-container .box .company{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.box:hover{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.job-container .box-container .box .company img{
    height: 7rem;
    width: 7rem;
}

.company h3{
    margin-bottom: 0px;
}

.tags p{
    margin-bottom: 2px;
    margin-top: 2px;
}

.flex-btn button{
   border: none;
   background-color: #D3D3D3;
   cursor: pointer;
   padding: 6px;
   border-radius: 5px;
}

.company .mod{
    font-size: 15px;
    color: gray;
}

.job-container .box-container .box .tags{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 1rem 0;
}

.job-container .box-container .box .location i{
    color: var(--principal);
}

.job-container .box-container .box .tags span{
    padding: 2px;
}

.job-container .box-container .box .fa-heart:hover{
    background-color: black;
    color: #fff;
}

/*end new job section*/
 

/* start link vers d'autre page*/

.job_link{
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.job_box li{
    height: 25px;
    width: 25px;
    list-style: none;
    cursor: pointer;
}

.job_box li a{
    color: black;
    font-size: 20px;
}

.job_box li a:hover, .bande_active{
    color: #fff; 
    padding: 5px;
    background-image: linear-gradient(to left, #6db9ef, #0b03ff);
}

/*end link vers d'autre page*/


/*start section formation/concour*/

.blog{
    width: 96%;
    height: auto;
    text-align: center;
    padding: 5rem 1rem;
}

.blog .blog-title{
    color: var(--principal);
    text-transform: uppercase;
}

.blog-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    padding: 1rem;
}

.blog-card{
    width: 300px;
    height: auto;
    margin: 1rem;
    box-shadow: 0 1px 6px 0 rgb(49 53 59 / 12%);
    cursor: pointer;
}

.blog-card:hover{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.blog-image{
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.blog-details{
    padding: 20px;
}

.blog-details span{
    color: yellow;
    font-size: 0.7rem;
}

.blog-details h4{
    padding: 10px 0;
}

.divider{
    margin: 1rem 0;
    border: 0.5px solid #F5F5F5;
}

.blog-more{
    color: var(--principal);
    text-decoration: none;
    font-size: 0.9rem;
}

/*end section formation/concour*/


.blo_link{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.blog_box li{
    height: 25px;
    width: 25px;
    list-style: none;
    cursor: pointer;
}

.blog_box li a{
    color: black;
    font-size: 20px;
}

.blog_box li a:hover, .bande_active{
    color: #fff; 
    padding: 5px;
    background-image: linear-gradient(to left, #6db9ef, #0b03ff);
}

/*start section static*/

.static{
    height: auto;
    text-align: center;
    padding: 5rem 1rem;
    background-color: #F5F5F5;
}

.static .static-test{
    text-align: center;
    color: var(--principal);
    text-transform: uppercase;
}

.static-wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 2rem;
    align-items: center;
    padding: 2% 10%;
}

.static-card{
    padding-top: 1rem;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border: 1px solid var(--principal);
}

.static-card:hover{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#icon-card{
    font-size: 1.5rem;
}

/*end section static*/

/*start section blog*/

.apropos{
    margin-top: 5rem;
}

.apropos .title-propos{
    text-align: center;
    margin-top: 2rem;
    color: var(--principal);
    text-transform: uppercase;
}

.apropos-container{
    display: flex;
    justify-content: space-around;
}

.apropos-wrapper{
    display: flex;
}

.apropos-row1{
    margin-left: 4rem;
}

.apropos-row2{
    margin-left: 7rem;
}

.apropos-row3{
    margin-top: 5rem;
}

.apropos-text{
    margin-top: 6rem;
}

.apropos-text h1{
    text-transform: uppercase;
}

.apropos-text .objet-blog{
    font-weight: 500;
}

#blog-icon{
    color: var(--principal);
    margin-right: 0.5rem;
}

.apropos-text a{
  text-decoration: none;
  padding: 0.5rem;
  background-color: var(--principal);
  color: #fff;
  border-radius: 10px;
}

.apropos-text a{
    display: inline-block;
    border: none;
    text-decoration: none;
    background-color: var(--principal);
    padding: 6px 25px;
    border-radius: 5px;
    color: #fff;
    margin: 0 auto;
    font-size: 1.2rem;
    transition: 0.2s;
}

.apropos-text a:hover{
    background-color: #fff;
    color: var(--principal);
    border: 1px solid var(--principal);
}

.apropos img:hover{
    cursor: pointer;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

@media screen and (max-width: 500px){
    .apropos-container{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
}

/*end section blog*/


/*start newsletter*/

.newsletter{
    display: flex;
    justify-content: center;
    align-items: center;
    /*min-height: 100vh;*/
}

.card-news{
    display: flex;
    width: 800px;
    background-color: white;
    padding: 30px;
    border-radius: 20px;
  }
  .right {
    width: 60%;
  }
  .left {
    width: 90%;
  }
  .left img {
    width: 100%;
  }
 .unorder-liste{
    list-style-image: url('assets/images/icon-success.svg');
  }
  .liste-news {
    margin-bottom: 10px;
  }
  .form-news{
    display: flex;
    flex-direction: column;
    width: 300px;
  }
  .lab-news{
    margin-bottom: 10px;
    color: black;
    font-size: small;
  }
 .input-news{
    text-align: center;
    padding: 15px 20px;
    color: black;
    font-size: 15px;
    border-radius: 5px;
    outline: none;
    border: 1px solid var(--principal);
  }
 .sub-news{
    font-family: inherit;
    margin-top: 20px;
    padding: 15px 20px;
    border: none;
    outline: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--principal);
  }
.sub-news:hover {
    background-color: blue;
    transition: all 1s;
  }
 .title-news{
    font-size: 50px;
    color: var(--principal);
  }
  .hide {
    display: none;
  }
  .card-2 {
    background-color: white;
    width: 400px;
    padding: 40px;
    border-radius: 5px;
  }
  .card-2 .title-news {
    font-size: 40px;
  }
  .icon-card-2 {
    width: 50px;
  }
  .card-2 .sub-news {
    width: 100%;
  }
  @media (max-width: 768px) {
    .card-news {
      flex-direction: column-reverse;
      width: 95%;
      padding: 0;
    }
    
    .card-news .title-news {
      font-size: 30px;
    }
    .right {
      width: 100%;
      padding: 20px;
    }
    .left {
      width: 100%;
    }
    .left img {
      content: url("https://cdni.iconscout.com/illustration/premium/thumb/newsletter-subscription-4268410-3551757.png?f=webp");
    }
    .form-news{
      width: 90%;
    }
  }

/*end newsletter*/

/*start contact*/

#contact{
    background-color: #f9f9fb;
    padding: 100px 15px;
}

#contact .container-contact{
    max-width: 900px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 60px 10px;
    border-radius: 15px;
    box-sizing: border-box;
    box-shadow: 0px 10px 50px -10px rgba(100, 100, 111, 0.2);
}

#contact .container-contact .title-contact{
    text-align: center;
    margin-bottom: 6px;
    color: var(--principal);
}

#contact .container-contact .title-contact h6{
    margin-bottom: 10px;
    font-size: 1.2rem;
}

#contact .container-contact .title-contact h3{
    margin-top: 0px;
    font-size: 3rem;
}

#contact .container-contact .form-contact{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 600px;
}

#contact .container-contact .form-contact .input-contact{
    width: 45%;
    margin-bottom: 20px;
    margin: 15px 0;
    padding: 10px;
    border: none;
    outline: none;
    box-sizing: border-box;
    border-bottom: 2px solid #e4e4ec;
    transition: 0.2s;
}

#contact .container-contact .form-contact .input-contact:hover,
#contact .container-contact .form-contact textarea:hover{
    border-bottom: 2px solid var(--principal);
}

#contact .container-contact .form-contact textarea{
    margin-bottom: 20px;
    margin: 15px 0;
    padding: 10px;
    border: none;
    outline: none;
    box-sizing: border-box;
    border-bottom: 2px solid #e4e4ec;
    transition: 0.2s;
}

#contact .container-contact .form-contact textarea{
    width: 100%;
    resize: none;
    height: 100px;
    margin-bottom: 40px;
}

#contact .container-contact .form-contact a{
    display: inline-block;
    border: none;
    text-decoration: none;
    background-color: var(--principal);
    padding: 6px 25px;
    border-radius: 5px;
    color: #fff;
    margin: 0 auto;
    font-size: 1.2rem;
    font-weight: bold;
    transition: 0.2s;
}

#contact .container-contact .form-contact a:hover{
    transform: translateY(-5px);
}

@media screen and (max-width: 500px){
    #contact .container-contact .form-contact{
        flex-direction: column;
        width: 95%;
    }

    #contact .container-contact .form-contact .input-contact{
        width: 100%;
    }

    #contact .container-contact .title-contact h6{
        margin-bottom: 0px;
        font-size: 1rem;
    }
    
    #contact .container-contact .title-contact h3{
        margin-top: 0px;
        font-size: 2rem;
    }
}

/*end contact*/

/*start télécharger*/

#application{
    margin: 0 auto;
    width: 80%;
   /* background: linear-gradient(180deg, rgba(0, 85, 177, 0.6) 0%, rgba(0, 122, 255, 0.5) 100%),
    linear-gradient(180deg, rgba(0,122,255, 0.65) 0%, transparent 100%);*/
    text-align: center;
    padding: 50px 0;
}

#application h1{
    /*color: #fff;*/
    color: var(--principal);
    font-size: 2rem;
}

#application .image-app{
    display: inline-block;
    padding: 10px 25px;
    background-color: #fff;
}

/*end télécharger*/

/*footer*/

.footer{
    background: url(assets/footer/footer-bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.footer .footer-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1rem;
}
.footer .footer-container .box-footer{
    margin: 0 auto;
}

.footer .footer-container .box-footer h3{
    margin-bottom: 0.5rem;
    color: #fff;
    font-size: 1.5rem;
    display: block;
}

.footer .footer-container .box-footer a{
    font-size: 1.1rem;
    text-decoration: none;
    color: gray;
    display: block;
}

.footer .footer-container .box-footer a i{
    color: var(--principal);
    padding-right: .5rem;
    transition: .2s linear ;
}

.footer .footer-container .box-footer a:hover i{
    padding-right: 2rem;
}

.footer .copyright{
    margin: 0 auto;
    display: flex;
    font-size: 1.3rem;
    padding-bottom: 4rem;
    text-align: center;
    padding-top: 1rem;
    margin-top: rem;
    color: #fff;
   /* border-top: .1rem solid var(--principal);*/
}

.footer .copyright span{
    color: var(--principal);
}

.foot-div{
    margin: 2rem 7rem 0 7rem;
    /*margin-top: 4rem;
    margin-left: 7rem;
    margin-right:7rem ;*/
    border: 1px solid var(--principal);
}

.copy{
    margin-top: 1rem;
    display: flex;
    margin-left: 105px;
}

.product{
   display: flex;
   margin-left: 36rem;
   margin-top: 1rem;
}

.product a{
    color: var(--principal);
}

.footer-container #communauté{
    margin-left: 10rem;
}

/*footer*/

/*boutton remonter*/

.btn-remote{
    color: #fff;
    font-size: 2rem;
    height: 50px;
    width: 50px;
    background-color: var(--principal);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 20px;
    bottom: 20px;
    cursor: pointer;
}

/*boutton remonter*/

@media screen and (max-width: 500px){
    .footer-container #lien-rapide{
        margin-left: 5.5rem;
    }

    .footer-container #pub{
        margin-left: 5.5rem;
    }

    .footer-container #soutien{
        margin-left: 5.5rem;
    }

    .footer-container #communauté{
        margin-left: 5.5rem;
    }

    .footer .copyright{
        display: block;
    }

    .footer .copyright .copy{
        display: block;
        margin: 0 auto;
        text-align: center;
    }

    .footer .copyright .product{
        display: inline-block;
        margin-left: 0;
    }
}

/*footer*/